body{
    color:#ddd;
    text-align: center;
    font-family: "Helvetica", sans-serif;
    background-color: #111;
}
h1 {
  font-size: 2em;
  font-weight: bold;
}
main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
h2{
  font-size: 0.8em;
  margin: 20px;
}
.comic{
  background: #eee;
  color: #222;
  margin: 20px;
}
@media (max-width:800px){
  img{
    width: 600px;
  }
  .comic{
    width: 600px;
  }
} 
@media (min-width: 801px){
  img{
    width: 240px;
  }
  .comic{
    width: 240px;
  }
}
.info p{
  text-align: center;
  font-size: 10px;
  margin: 15px;
}